@model dynamic
@{
    ViewBag.Title = "Hello World";
}
<var name="g_accountnumber" />
<script>
    <![CDATA[
    function sayasDigits(number) {
        var digitNumber = number.charAt(0);
        for (var i = 1; i < number.length; i++) {
            digitNumber += ' ' + number.charAt(i);
        }
        return digitNumber;
    }
  ]]>
</script>

<form id="main">
<block>
        <prompt bargein="false">
            Hello, welcome to Mareacord Contractual Payment Services.
        </prompt>
        <!-- Move to the account sign-in form -->
        <goto next="#account" />
    </block>
</form>
<form id="account">
<field name="account_number" type="digits">
        <grammar mode="dtmf" src="builtin:dtmf/digits" version="1.0"/>
        <prompt bargein="dtmf_only">
            Use your telephone keypad to enter your account number, followed by the pound key.
        </prompt>
    </field>
    <filled>
        <prompt>
            You have entered <value expr="sayasDigits(account_number)" />. 
        </prompt>
        <assign name="g_accountnumber" expr="account_number" />
        <goto next="#pin" />
    </filled>
</form>
<form id="pin">
<field name="pin_number">
        <grammar mode="dtmf" src="builtin:dtmf/digits" version="1.0"/>
        <prompt bargein="dtmf_only">
            Use your telephone keypad to enter your pin, followed by the pound key.
        </prompt>
    </field>
<filled>
        <prompt>
            Welcome to account <value expr="sayasDigits(g_accountnumber)" />.
        </prompt>
    </filled>
</form>
