@model dynamic
@{
    ViewBag.Title = "Hello World";
}
<form id="main">
<block>
        <prompt bargein="false">
            Hello World. This is my first telephone application.
        </prompt>
        <!-- Move to the account sign-in form -->
        <goto next="#account" />
    </block>
</form>
<form id="account">
    <field name="account_number">
        <grammar mode="dtmf" src="builtin:dtmf/digits" version="1.0"/>
        <prompt bargein="dtmf_only">
            Use your telephone keypad to enter your account number, followed by the # key.
        </prompt>
    </field>
    
    <field name="pin">
        <grammar mode="dtmf" src="builtin:dtmf/digits" version="1.0"/>
        <prompt bargein="dtmf_only">
            Use your telephone keypad to enter your pin, followed by the # key.
        </prompt>
    </field>
    
    <filled>
        <prompt>
            Welcome to account <value expr="account_number" />.
        </prompt>

    </filled>
</form>
